{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Memory Game</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
            <h2>Welcome,GAMERS<br>Login</h2>
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</body>
</html>
